- content_for :footer do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets[:google_api_browser_key]}&sensor=false"

  :javascript
    jQuery(function($) {
      function initialize() {
        var centerLatLng = new google.maps.LatLng(1.358, 103.82);
        var isDraggable = $(document).width() > 480 ? true : false;

        var mapOptions = {
          draggable: isDraggable,
          center: centerLatLng,
          zoom: 12,
          styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#193341"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#2c5a71"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#29768a"},{"lightness":-37}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#406d80"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#406d80"}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#3e606f"},{"weight":2},{"gamma":0.84}]},{"elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"weight":0.6},{"color":"#1a3541"}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#2c5a71"}]}]
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        $.ajax({
          url: "#{dengue_data_coordinates_path(format: :json)}",
          dataType: 'json',
          data: { filename: "#{Time.now.strftime(DengueDataScraper::FILENAME)}" },
          success: function(data) {
            for (var key in data) {
              createMarker(map, data[key]);
            }
          }
        })

        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(centerLatLng);
        });
      }

      function createMarker(map, value) {
        var latLng = new google.maps.LatLng(value.latitude, value.longitude);

        var contentString = '<h5>' + value.location + '</h5>'

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          animation: google.maps.Animation.DROP,
          icon: {
            scaledSize: new google.maps.Size(30, 30),
            url: "#{asset_path('markers/mosquito.png')}"
          }
        })

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    })

#map-canvas
