// Omg BBQ I should have used a framework

:ruby
  date = Date.today
  year = date.year
  month = date.month
  day = date.day

- content_for :footer do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets[:google_api_browser_key]}&sensor=false&libraries=visualization"

  :javascript
    jQuery(function($) {
      var markers = [];
      var heatmaps = [];
      var request, spinner;

      function initialize() {
        var centerLatLng = new google.maps.LatLng(1.358, 103.82);
        var documentWidth = $(document).width();

        var zoomLevel = 11;
        var cellSize = 10;

        if (documentWidth > 1280) {
          zoomLevel = 12;
          cellSize = 14;
        }

        var mapOptions = {
          scrollwheel: false,
          draggable: false,
          center: centerLatLng,
          zoom: zoomLevel,
          styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#193341"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#2c5a71"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#29768a"},{"lightness":-37}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#406d80"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#406d80"}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#3e606f"},{"weight":2},{"gamma":0.84}]},{"elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"weight":0.6},{"color":"#1a3541"}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#2c5a71"}]}]
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        function enableScrollingWithMouseWheel() {
          map.setOptions({ scrollwheel: true, draggable: true });
        }

        function disableScrollingWithMouseWheel() {
          map.setOptions({ scrollwheel: false, draggable: false });
        }

        $('body').on('mousedown', function(event) {
          var clickedInsideMap = $(event.target).parents('#map-canvas').length > 0;

          if(!clickedInsideMap) {
            disableScrollingWithMouseWheel();
          }
        });

        $(window).scroll(function() {
          disableScrollingWithMouseWheel();
        });

        var cal = new CalHeatMap();

        cal.init({
          start: new Date("#{year}", "#{month - 3}"),
          range: 3,
          itemSelector: "#calender",
          domain: 'month',
          sub_domain: 'day',
          data: "#{dengue_data_dates_path(format: :json)}",
          tooltip: true,
          itemName: ['case', 'cases'],
          cellSize: cellSize,
          legendColors: ['white', '#660000'],
          legend: [100, 200, 300, 400, 500],
          onClick: function(date, cases) {
            for (m in markers) {
              markers[m].setMap(null);
            };

            heatmaps.forEach(function(heatmap) {
              heatmap.setMap(null);
            });

            postData(map, moment(date).format("DD_MM_YYYY"));
          }
        });

        postData(map, "#{@last_data_date}");

        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(centerLatLng);
        });

        google.maps.event.addListener(map, 'mousedown', function(){
          enableScrollingWithMouseWheel()
        });
      }

      function postData(map, date) {
        var opts = {
          lines: 15, // The number of lines to draw
          length: 29, // The length of each line
          width: 9, // The line thickness
          radius: 49, // The radius of the inner circle
          corners: 1, // Corner roundness (0..1)
          rotate: 0, // The rotation offset
          direction: 1, // 1: clockwise, -1: counterclockwise
          color: '#FFFFFF', // #rgb or #rrggbb or array of colors
          speed: 1, // Rounds per second
          trail: 46, // Afterglow percentage
          shadow: false, // Whether to render a shadow
          hwaccel: false, // Whether to use hardware acceleration
          className: 'spinner', // The CSS class to assign to the spinner
          zIndex: 2e9, // The z-index (defaults to 2000000000)
          top: '50%', // Top position relative to parent
          left: '50%' // Left position relative to parent
        };

        var target = document.getElementById('loader-image');

        if (request != null) {
          request.abort();
          spinner.stop(target);
        }

        spinner = new Spinner(opts);

        request = $.ajax({
          url: "#{dengue_data_coordinates_path(format: :json)}",
          dataType: 'json',
          data: { filename: date },
          beforeSend: function() {
            spinner.spin(target);
          },
          success: function(data) {
            try {
              for (var key in data) {
                createMarker(map, data[key]);
              }

              createHeatMap(map, data);
            } finally {
              spinner.stop(target);
            }
          }
        });
      }

      function createMarker(map, value) {
        var latLng = new google.maps.LatLng(value.latitude, value.longitude);

        var contentString = '<h5 style="color: black">' + value.location + '</h5>'

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          icon: {
            scaledSize: new google.maps.Size(30, 30),
            url: "#{asset_path('markers/mosquito.png')}"
          }
        })

        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }

      function createHeatMap(map, data) {
        var data = data.map(function(num) {
          return new google.maps.LatLng(num.latitude, num.longitude);
        });

        var pointArray = new google.maps.MVCArray(data);

        heatmaps.push(new google.maps.visualization.HeatmapLayer({
          data: data,
          map: map,
          radius: 20
        }));
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    })
