!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: 'Singapore Dengue Cluster Visualizer seeks to provide a better visualization tool for dengue clusters than what the official government site current has.' }

    %title
      Singapore Dengue Cluster Visualizer
      \- Improved visualization of the dengue clusters in Singapore

    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    = render 'layouts/ga'

  %body
    .row
      = render 'layouts/header'

    .row
      = yield
      = javascript_include_tag 'application'
  %footer
    = render 'layouts/footer'
    = yield :footer
